ipynb_checkpoints/
__pycache__/
.idea/

Session-5/ipynb_checkpoints/
*/.ipynb_checkpoints/

Session10/S10_3phase.ipynb
Session10/sait.ipynb

Session12/epoch=23-step=2112.ckpt

Session13/PASCAL_VOC/*
Session13/image.png
Session13/main.ipynb
Session13/main2.ipynb
Session13/dataloader.ipynb
Session13/Exp3.ipynb
Session13/loss_1_1.py
Session13/model_39.zip

Session14_15/lightning_logs/
Session14_15/transformer.pth
Session14_15/epoch=9-step=48500.ckpt
Session14_15/tokenizer_en.json
Session14_15/tokenizer_it.json

Session17/models
Session17/reference_notebooks

Session18/data/
Session18/trained_models/